@keyframes shalaniHange {
	20%, 60%
	{
		transform: rotate(70deg);
	}
	40%, 80%
	{
		transform: rotate(55deg);
		opacity: 1;
	}
	100%
	{
		transform: translateY(600px);
		opacity: 0;
	}
}

@keyframes shalaniBlur {
	0%, 100%
	{
		opacity: 0;
		visibility: hidden;
	}
	10%,80%
	{
		opacity: 1;
		visibility: visible;
	}
}

@keyframes shalaniOp {
	0%, 50%, 100%
	{
		opacity: 1;
	}
	2#0%, 80%
	{
		opacity: .5;
	}
}